*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__s1__tittle{
    font-weight: bold;
}
.navbar__s2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar__s2__list{
    list-style: none;
    color: black;
    font-weight: bold;
    border-radius: solid black 1px;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;

}
.sign_btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}
.hero{
    text-align: center;
    margin-top: 60px;
}
.hero_tittle{
    font-size: 64px;
    font-weight: 800;
}
.search_tabs{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
    font-weight: 600;
}
.search_tabs p{
    cursor: pointer;
}
.search_tabs .active{
    border-bottom: 3px solid black;
}
.search_box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 650px;
   margin: auto;
   border: 1px solid #ddd;
   border-radius: 40px;
   padding: 8px;
}
.search_box input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding-left: 10px;
}
.search_button{
    background-color: lightgreen;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}
.promo img{
    width: 100%;
    display: block;
    
}
.promo{
    position: relative;
    max-width: 1100px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
}
.promo_content{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    max-width: 400px;
}
.promo_content h2{
    font-size: 42px;
    font-weight: 800;
    margin: 10px 0;
}
.promo_content p{
    font-size: 16px;
    margin-bottom: 20px;

}.promo_tag{
    background: #ffd54f;
    color: black;
    padding: 5px 12px;
    border-radius: 8px;
    font-weight: 600;
}
.promo_btn{
    background: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}
.explore{
    max-width:1100px;
    margin: 40px auto;
}
.explore_container{
    display: flex;
    gap:20px;
    justify-content: space-between;
}
.explore_card{
    position: relative;
    width: 250px;
    cursor: pointer;
}
.explore_card img{
    width:100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}
.explore_card h4{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.donate{
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    gap: 40px;

}
.donate_left{
    flex:1;
}
.donate_left img{
    width: 100%;
    border-radius: 12px;
    
}
.donate_right{
    flex:1;

}
.donate_right h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.donate_right p{
    color: #555;
    margin-bottom: 20px;
}
.donate_btn{
    background: #0f3d2e;
    color: white;
    border: none;
    padding: 14px 26px;
    border-radius:30px;
    font-weight: 700;
}
.places{
    max-width: 1100px;
    margin: 60px auto;

}
.places_container{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.place_card{
    position: relative;
    flex:1 1 calc(25%-20px);
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    flex-basis: 100px;
    flex-grow: 1;
}
.place_card img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}
.place_card h3{
    position: absolute;
    bottom: 15px;
    left:15px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    z-index: 2;
}
.wanderer{
    max-width:1100px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    gap: 40px;
}
.wanderer_left{
    flex: 1;
}
.wanderer_left img{
    width: 100%;
    border-radius: 14px;
    display: block;
}
.wanderer_right{
    flex: 1;
}
.sponsor{
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.wanderer_right h2{
    font-size: 36px;
    margin-bottom: 15px;
}
.wanderer_right p{
    color: #444;
    margin-bottom: 20px;
}
.learn_btn{
    background-color: lightgreen;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}
.tours{
    width: 100%;
    margin: 60px auto;
    display: flex;
    gap: 20px;
    margin: 40px;
    

}
.tour_card{
    min-width: 260px;
    flex: 0 0 auto;

}
.img_box{
    position: relative;
}
.img_box img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
    display: block;
}
.hero-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: #0b3d29;
    color: white;
}
.hero-text{
    width: 50%;
}
.hero-text h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}
.hero-text p{
    margin: 20px 0;
    color: #ddd;
}
.hero-text button{
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-weight: bold;
}
.badge{
    background:#ffd400;
    color: black;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;

}
.hero-img{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
}
.hero-img img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
.shape{
    position: absolute;
    border-radius: 50%;
}
.yellow{
    width: 120px;
    height: 120px;
    background: #ffd400;
    top: 0;
    right: 20px;
}
.green{
    width: 100px;
    height: 100px;
    background: #32d74b;
    bottom: 10px;
    left: 30px;
}
.footer{
    background: #f5f5f5;
    padding: 50px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-col{
    width: 22%;
    display: flex;
    flex-direction: column;
}
.footer-col h4{
    margin-bottom: 15px;
    font-size: 16px;
}
.footer-col a{
    text-decoration: none;
    color: #333;
    margin: 6px;
    font-size: 14px;
}
.footer-col a:hover{
    text-decoration: underline;
}
.footer-bottom{
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 13px;
    color: #555;
}
